<div id="scrollbox">

    <div>
        @if(showLastTrick){
            <div>Letzter Stich:</div>
            @for (var i = 0;i<lastTrick.Count;i++)
            { 
                var cardIdx = i;
                <input type="image" src="cards/@(lastTrick[i].ToString()).jpg" width=20%  /> 
            } 
        }
    </div>

    <div>
        @if(allPlayedCards.Count > 0){
            <div>Spielverlauf:</div>
        }
        @for (var i = 0;i<allPlayedCards.Count;i++)
        { 
            var cardIdx = i;
            @if(i % 4 ==0){
                <br />
                <br />
            }
            <input type="image" src="cards/@(allPlayedCards[i].ToString()).jpg" width=20%  /> 
        } 
    </div>
</div> 



@code {
    [Parameter]
    public bool showLastTrick { get; set; }
    
    [Parameter]
    public List<BlazorChatSample.Shared.Card> lastTrick { get; set; }
    [Parameter]
    public List<BlazorChatSample.Shared.Card> allPlayedCards { get; set; }

}