@* <div id="scrollbox">
    @if(ShowTable()) {
        // Table.razor
    }

    <div>
        @if(showLastTrick){
            <div>Last trick:</div>
        }
        @for (var i = 0;i<GetLastTrick().Count;i++)
        { 
            var cardIdx = i;
            <input type="image" src="cards/@(GetLastTrick()[i].ToString()).jpg" width=10%  /> 
        } 
    </div>

    <div>
        @if(GetAllPlayedCards().Count > 0){
            <div>Game history:</div>
        }
        @for (var i = 0;i<GetAllPlayedCards().Count;i++)
        { 
            var cardIdx = i;
            @if(i % 4 ==0){
                <br />
                <br />
            }
            <input type="image" src="cards/@(GetAllPlayedCards()[i].ToString()).jpg" width=10%  /> 
        } 
    </div>
</div> *@