.playing-card {
  width: 50px;
  box-shadow: -0.5rem 0.5rem 0.8rem rgb(50, 50, 50);
  transition: 0.3s ease-out;
  position: relative;
}

.playing-card:not(:first-child) {
  margin-left: -10px;
}

.rot-playing-card {
  width: 50px;
  box-shadow: -0.5rem 0.5rem 0.8rem rgb(50, 50, 50);
  transition: 0.3s ease-out;
  position: relative;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.rot-playing-card:not(:first-child) {
  margin-left: 0;
  margin-top: -10px;
}

.my-card:hover {
  transform: translateY(-20px);
  transition: 0.3s ease-out;
}

.my-card:hover ~ .my-card {
  position: relative;
  left: 5%;
  transition: 0.3s ease-out;
}
