.playing-card {
  width: 6%;
  box-shadow: -0.5rem 0.5rem 0.8rem rgb(50, 50, 50);
  position: relative;
}

.playing-card:not(:first-child) {
  margin-left: -2%;
}

.rot-playing-card {
  height: 12%;
  max-width: 100%;
  box-shadow: -0.5rem 0.5rem 0.8rem rgb(50, 50, 50);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.rot-playing-card:not(:first-child) {
  margin-top: -8%;
}

.my-card {
  max-height: 100%;
  width: 12%;
  box-shadow: -0.5rem 0.5rem 0.8rem rgb(50, 50, 50);
  transition: 0.3s ease-out;
  position: relative;
}

.my-card:not(:first-child) {
  margin-left: -4%;
}
.my-card:hover {
  transform: translateY(-30px);
  transition: 0.3s ease-out;
}
