.grid {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 10vh 15vh 45vh 20vh 10vh;
}

.right,
.left {
  flex-direction: column;
}

.top {
  background: #ff85cf;
}

.right {
  grid-row: 1 / 4;
  grid-column: 3 / 4;
  background: #e179e8;
}

.bottom {
  background: #da91ff;
}

.top,
.bottom {
  grid-column: 2 / 3;
}

.left {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  background: #a579e8;
}

.middle {
  background: #9385ff;
}

.buttonrow {
  background: #665454;
  grid-column: 1 / 4;
}

.buttonrow > a {
  margin: 0.5rem;
}

.grid > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
